@import "../../../scss/vars";

.related-posts {
  position: relative;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 24px;
    color: #191919;
    font-family: "Uroob", sans-serif;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 16px;
  }

  .related-container {
    column-gap: 30px;
    padding-top: 30px;

    .wrap-related {
      margin-right: 30px;
      float: left;
      width: calc(33% - 17px);
      margin-bottom: 30px;

      &:nth-child(3n+3) {
        margin-right: 0;
      }

      h2 {
        padding-top: 24px;
        padding-bottom: 7px;

        a {
          color: #191919;
          font-family: "Uroob", sans-serif;
          font-weight: normal;
          line-height: 35px;
          font-size: 30px;
          letter-spacing: 0.01em;
          transition: 0.3s;

          &:hover {
            color: $maincolor;
          }
        }
      }

      p {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
      }

      .views-for-mobile {
        display: none;
      }

      .by-writer {
        padding-top: 16px;

        .info-author {
          overflow: hidden;
          margin-top: 3px;
          margin-right: 12px;
          display: inline-block;

          .icon-author {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            float: left;

            // border: 2px solid $whitecolor
            background-size: contain;
            background-position: center;
            overflow: hidden;
            margin-right: 12px;
            position: relative;
          }

          .name {
            line-height: 2;
            display: inline-block;

            a {
              color: $accent;
              font-size: 14px;
              letter-spacing: 0.01em;
              transition: 0.3s ease-out;
            }

            a:hover {
              color: $accentcolorhover;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .related-posts {
    max-width: 100%;

    .related-container {
      .wrap-related {
        padding-bottom: 23px;
        width: calc(50% - 15px);
        margin-bottom: 0;

        &:nth-child(2n+2) {
          margin-right: 0px;
        }

        .img-responsive {
          margin-bottom: 24px;
        }

        h2 {
          display: table-cell;
          padding-top: 18px;
          padding-bottom: 9px;
          line-height: 35px;
        }

        p {
          display: table-footer-group;
        }

        .by-writer {
          display: table-header-group;
        }

        .btn {
          display: table;
          padding-left: 55px;
          padding-right: 55px;
          margin-top: 23px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .related-posts {
    .title {
      font-size: 18px;
      padding-bottom: 10px;
    }

    .related-container {
      column-count: 1;
      padding-top: 20px;

      .wrap-related {
        overflow: hidden;
        padding-bottom: 42px;
        width: 100%;
        margin-right: 0;

        &:last-child {
          padding-bottom: 20px;
        }

        h2 {
          padding-top: 16px;
          padding-bottom: 14px;

          a {
            line-height: 31px;
            font-size: 26px;
          }
        }

        p {}

        .by-writer {
          .info-author {
            .views {
              display: none;
            }
          }
        }

        .btn {
          padding-left: 35px;
          padding-right: 35px;
          float: left;
        }

        .views-for-mobile {
          margin-top: 23px;
          line-height: 45px;
          display: block;
          vertical-align: middle;
          float: left;
          font-size: 14px;
          font-family: "HindRegular", sans-serif;
          letter-spacing: 0.01em;
          color: $blackcolor;
          margin-left: 15px;

          i {
            color: #ff037a;
            font-size: 14px;
            margin-right: 7px;
          }
        }
      }
    }
  }
}

