@font-face {
  font-family: "Meera";
  src: url("./fonts/Meera.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Uroob";
  src: url("./fonts/Uroob.ttf");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%;
  overflow: auto;
  font-size: 2vw; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Meera", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Uroob", sans-serif; }

li {
  list-style-type: none; }

ul {
  padding: 0;
  margin: 0; }

p, blockquote, figure {
  padding: 0;
  margin: 0; }

p {
  font-size: 22px;
  line-height: 32px; }

a {
  color: #202020; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

::placeholder {
  color: #202020;
  letter-spacing: 0.075em; }

::-webkit-input-placeholder {
  line-height: normal;
  color: #202020;
  letter-spacing: 0.075em; }

input::placeholder {
  font-family: "Meera", sans-serif; }

input {
  padding-top: 0;
  padding-bottom: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.overflow {
  overflow: hidden; }

.swiper-navigation-btn:hover i {
  transition: 0.3s;
  color: #ff037a; }

.swiper-pagination {
  z-index: 1 !important; }

.row {
  padding-left: 50px;
  padding-right: 50px; }

.btn {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1;
  font-size: 15px;
  font-family: "Meera", sans-serif;
  letter-spacing: 0.075em;
  border-radius: 50px;
  display: table;
  background: #ff037a;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer; }

.btn:hover {
  background: #e9006e; }

#popup_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.8);
  z-index: 999; }
  #popup_video .video-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: default; }
    #popup_video .video-container .block-video {
      position: relative;
      padding-bottom: 56%; }
      #popup_video .video-container .block-video .iframe {
        position: absolute;
        top: 22.25%;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 945px;
        max-height: 530px;
        border: 5px solid #e3e3e3; }
      #popup_video .video-container .block-video video {
        position: absolute;
        top: 22.25%;
        left: 0;
        right: 0;
        margin: auto;
        width: 945px;
        border: 5px solid #e3e3e3; }
      #popup_video .video-container .block-video .close-video {
        cursor: pointer;
        position: absolute;
        left: calc((50% + (945px / 2)) + 10px);
        top: calc(22.25% - 4px);
        line-height: 0; }
        #popup_video .video-container .block-video .close-video i {
          font-size: 20px !important;
          color: #ffffff;
          transition: 0.3s; }
        #popup_video .video-container .block-video .close-video:hover i {
          color: #e3e3e3; }

.hidden {
  display: none; }

.overflow {
  overflow: hidden; }

.loading-comments {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: 3px solid #eef0f3;
  border-top-color: #ff037a;
  border-left-color: #ff037a;
  animation: spin 1s infinite linear;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: -48.5px;
  margin-top: 50px;
  margin-bottom: 70px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {
  .loading-comments {
    left: 0;
    margin-bottom: 50px; }
  #popup_video .video-container .block-video .close-video {
    position: absolute;
    left: calc((50% + (660px / 2)) + 10px); }
  #popup_video .video-container .block-video .iframe {
    max-width: 668px;
    max-height: calc(660px / 1.78); }
  #popup_video .video-container .block-video video {
    width: 668px; } }

@media only screen and (max-width: 767px) {
  .row {
    padding-left: 25px;
    padding-right: 25px; }
  .btn {
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 11px; }
  #popup_video .video-container {
    overflow-y: auto; }
    #popup_video .video-container .block-video {
      top: 25px; }
      #popup_video .video-container .block-video .close-video {
        position: absolute;
        left: calc(100% - 29px);
        top: calc(22.25% - 32px); }
      #popup_video .video-container .block-video .iframe {
        max-width: calc(100% - 30px);
        border: 3px solid #e3e3e3; }
      #popup_video .video-container .block-video video {
        width: calc(100% - 30px); } }
