@import "../../../scss/vars";

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1000;
}
.notif-button {
  border: none;
  margin: 10px;
  float: right;
  &.close {
    background: $darkgreycolor;
  }
}