@import "../../../scss/vars";

#top-stories {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-bottom: 92px;

  .container-stories {
    margin-top: 30px;

    .holder {
      position: absolute;
      top: 0;
      bottom: 0;
      text-align: center;
      left: 3px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 16px;
      color: #202020;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }

    article {
      .likes {
        position: absolute;
        right: 30px;
        top: 25px;
        color: $whitecolor;
        font-size: 14px;
        letter-spacing: 0.01em;

        i {
          margin-right: 7px;
          transition: 0.5s;
        }
      }

      &.overlay {
        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba($blackcolor, 0.5);
          transition: 0.5s;
        }
      }

      &.overlay:hover {
        &:before {
          background: rgba($blackcolor, 0.75);
        }
      }

      &.post-image {
        .post-details {
          left: 28px;
          bottom: 21px;
        }

        h2 {
          position: absolute;
          left: 28px;
          bottom: 45px;
          line-height: 30px;
          font-size: 25px;
          padding-right: 20px;

          a {
            color: $whitecolor;
            font-family: "Baloo Chettan", cursive;;
            font-weight: normal;
            transition: 0.5s;

            &:hover {
              color: $maincolor;
            }
          }
        }
      }

      &.post-swiper {
        h2 {
          position: absolute;
          left: 60px;
          bottom: 90px;
          line-height: 50px;
          font-size: 40px;
          padding-right: 30px;

          a {
            color: $whitecolor;
            font-family: "Baloo Chettan", cursive;;
            font-weight: normal;
            transition: 0.5s;

            &:hover {
              color: $maincolor;
            }
          }
        }
      }
    }

    .wrapper-post {
      height: 539px;
      position: relative;

      &:nth-child(1) {
        width: calc(65.8% - 8px);
        float: left;

        .swiper-slide {
          background-size: cover;
          background-position: center;
          height: 539px;
        }
      }

      &:nth-child(2) {
        width: calc(34.2% - 8px);
        background-size: cover;
        background-position: center;
        height: calc((539px / 2) - 8px);
        float: right;
      }

      &:nth-child(3) {
        width: calc(34.2% - 8px);
        background-size: cover;
        background-position: center;
        height: calc((539px / 2) - 8px);
        float: right;
        margin-top: 16px;
      }

      .post-type-swiper {
        overflow: hidden;
        position: relative;

        .swiper-pagination.horizontal {
          .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            margin-left: 4.5px;
            margin-right: 4.5px;
            box-shadow: none;
          }
        }
      }

      .post-details {
        position: absolute;
        left: 60px;
        bottom: 65px;

        .data {
          color: $whitecolor;
          font-size: 14px;
          letter-spacing: 0.01em;
        }

        .timetoread {
          color: $whitecolor;
          font-size: 14px;
          letter-spacing: 0.01em;
        }
      }

      .by-writer {
        position: absolute;
        left: 50px;
        top: 30px;

        .info-author {
          overflow: hidden;
          margin-top: 3px;
          margin-right: 12px;
          display: inline-block;

          .icon-author {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            float: left;
            background-size: contain;
            background-position: center;
            overflow: hidden;
            margin-right: 12px;
            position: relative;
          }

          .name {
            line-height: 2;
            display: inline-block;

            a {
              color: $whitecolor;
              font-size: 14px;
              letter-spacing: 0.01em;
              transition: 0.3s ease-out;
            }

            a:hover {
              color: $whitecolor;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  /* */
  #top-stories {
    padding-bottom: 49px;

    .container-stories {
      .holder {
        display: none;
      }

      .wrapper-post {
        height: 475px;
        position: relative;

        &:nth-child(1) {
          width: 100%;
          float: none;
          margin-bottom: 7px;

          .swiper-slide {
            height: 475px;
          }
        }

        &:nth-child(2) {
          width: calc(50% - 7px);
          height: 226px;
          float: left;
          margin-top: 7px;
        }

        &:nth-child(3) {
          width: calc(50% - 7px);
          height: 226px;
          float: right;
          margin-top: 7px;
        }

        .post-type-video {
          left: auto;
          right: 25px;
          bottom: auto;
          top: 25px;
        }

        .post-type-swiper {
          .swiper-pagination.horizontal {
            bottom: 26px;
            padding-right: 30px;

            .swiper-pagination-bullet {
              width: 17px;
              height: 17px;
              margin-left: 5px;
              margin-right: 5px;
            }
          }

          .icon-author {
            width: 44px;
            height: 44px;
            background-size: cover !important;
          }
        }

        .post-details {
          left: 50px;
          bottom: 60px;
        }
      }

      article {
        &.post-swiper {
          h2 {
            left: 50px;
            bottom: 80px;
            line-height: 35px;
            font-size: 30px;
            padding-right: 50px;
          }

          .likes {
            right: 35px;
            top: 30px;
          }
        }

        &.post-video, &.post-image {

          .post-details {
            left: 25px;
            bottom: 17px;
          }

          h2 {
            left: 25px;
            bottom: 42px;
            line-height: 30px;
            font-size: 25px;
            padding-right: 25px;
          }

          .likes {
            left: 25px;
            top: 18px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 767px) {

  #top-stories {
    padding-bottom: 22px;

    .container-stories {
      margin-top: 20px;

      .wrapper-post {
        height: 250px !important;
        width: 100% !important;
        float: none !important;
        margin-bottom: 15px !important;

        .swiper-slide {
          height: 250px !important;
        }

        .post-type-video {
          left: auto;
          right: 25px;
          bottom: auto;
          top: 25px;
          font-size: 45px;
          height: 40px;
          width: 40px;
          line-height: 40px;
        }

        .post-type-swiper {
          .swiper-pagination.horizontal {
            bottom: auto;
            top: 22px;
            padding-right: 20px;

            .swiper-pagination-bullet {
              width: 14px;
              height: 14px;
              border-width: 2px;
              margin-left: 4.5px;
              margin-right: 4.5px;
            }
          }
        }

        .post-details {
          left: 25px;
          bottom: 17px;
        }
      }

      article {
        .by-writer {
          display: none;
        }

        &.post-swiper, &.post-image {
          h2 {
            left: 25px;
            bottom: 42px;
            line-height: 26px;
            font-size: 20px;
            padding-right: 25px;
          }

          .likes {
            left: 25px;
            top: 20px;
          }
        }
      }
    }
  }

}

