.video-post {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 10px;

    p {
      display: inline-block !important;
    }
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }