@font-face {
  font-family: "Meera";
  src: url("./fonts/Meera.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Uroob";
  src: url("./fonts/Uroob.ttf");
  font-style: normal;
  font-weight: normal;
}
