$maincolor: #0F88BB;
$maincolorhover: darken( $maincolor, 5% );

$dark: #103348;
$accent: #ED1C24;
$accentcolorhover: darken( $accent, 5% );


$blackcolor: #202020;
$whitecolor: #ffffff;
$greycolor: #e3e3e3;
$middlegreycolor: #c1c1c1;
$darkgreycolor: #7e7e7e;
$lightgreycolor: #f6f7f8;
$black: #000000;